<div class="container mt-4" data-controller="sound">
  <h1 class="mb-4">Mes réservations imaginaires</h1>
  <div class="d-flex flex-wrap">
    <% current_user.bookings.each do |booking| %>
      <div class="card m-3" style="width: 18rem; border-radius: 15px">
           <%= link_to offer_path(booking.offer) do %>
            <img src="<%= if booking.offer.image.attached?
                          cl_image_path(booking.offer.image.key)
                        elsif booking.offer.url_image.nil?
                          'https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
                        else
                          booking.offer.url_image.strip
                        end %>" class="card-img-top" alt="<%= booking.offer.name %>"  style="height: 200px; object-fit: cover; width: 100%;" >
            <% end %>
        <div class="card-body">
          <h5 class="card-title"><strong><%= booking.offer.name %></strong></h5>
          <p class="card-text mb-2">Détails de la réservation</p>
          <p class="card-text mb-2"><u>Début :</u> <%= booking.start_date %></p>
          <p class="card-text mb-2"><u>Fin :</u> <%= booking.end_date %></p>
          <p class="card-text mb-2">
            <% if booking.status == 'pending' %>
              <i class="fa-solid fa-hourglass-half text-warning"></i>
              <span class="text-orange"> En attente de validation</span>
            <% elsif booking.status == 'accepted' %>
              <i class="fa-solid fa-circle-check text-success"></i>
              <span class="text-green"> Réservation acceptée</span>
            <% elsif booking.status == 'rejected' %>
              <i class="fa-solid fa-xmark text-danger"></i>
              <span class="text-red"> Réservation refusée</span>
            <% end %>
          </p>
          <div class="text-end mt-auto">
            <%= button_to 'Annuler', offer_booking_path(booking.offer, booking), method: :delete, data: { turbo_confirm: 'Vous êtes sûr?' }, class: 'btn btn-outline-danger rounded-pill' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p class="w-100"><%= link_to "Chercher une nouvelle location", new_offer_path, class: "btn btn-primary btn-lg w-100 link-underline link-underline-opacity-0 mb-3 mt-2" , data: { action: 'click->sound#playsoundGotit' }%></p>
</div>
