<h1>Détails de vos offres</h1>
<div class="text-center">
<p><%= link_to "Ajouter une nouvelle location", new_offer_path, class: "btn btn-primary link-underline link-underline-opacity-0" %></p>
</div>
<p>Je suis un container avec les différentes card-containers et cards. Les cards sont l'ensemble des <strong>offers</strong> que l'user a posté.</p>

<div class="d-flex flex-wrap">
  <% current_user.offers.each do |offer| %>
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= offer.name %></h5>
        <img src="<%= offer.image %>" class="card-img-top" alt="<%= offer.name %>">
        <p class="card-text mb-2"><%= offer.description %></p>
        <div class="d-flex justify-content-between">
        <%# <%= simple_form_for [offer], method: :delete, html: { class: 'd-inline' } do |f| %>
          <%# <%= f.submit 'Edit', class: 'btn btn-danger' %>
          <%# <%= f.submit 'Delete', class: 'btn btn-danger' %>
        <%# <% end %>
        <%= link_to 'Edit', edit_offer_path(offer), class: 'btn btn-danger' %>
        <%= button_to 'Delete', offer_path(offer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>




 <%# <%= link_to "Delete", offer_path(@offer),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

   <%# <%= link_to "Edit this offer", edit_offer_path %>
