<div class="container mt-4" data-controller="sound">
  <h1 class="mb-4">Détails de vos offres</h1>
  <div class="d-flex flex-wrap">
    <% current_user.offers.each do |offer| %>
      <div class="card m-3" style="width: 18rem; border-radius: 15px">
          <%= link_to offer_path(offer) do %>
          <img src="<%= if offer.image.attached?
                        cl_image_path(offer.image.key)
                      elsif offer.url_image.nil?
                        'https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
                      else
                        offer.url_image.strip
                      end %>" class="card-img-top" alt="<%= offer.name %>" style="height: 200px;">
          <% end %>
        <div class="card-body">
          <h5 class="card-title"><strong><%= offer.name %></strong></h5>
          <p class="card-text mb-2"><%= offer.description %></p>
          <p class="card-text text-end"><i class="fa-solid fa-coins icon-yellow"></i> <%= offer.price.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></p>
          <hr>
            <% if offer.bookings.pending.any? %>
              <p class="card-text mb-1">Demandes de réservation : <%= offer.bookings.pending.count %></p>
              <ul class="list-group list-group-flush">
                <% offer.bookings.pending.each do |booking| %>
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start modal-dialog modal-dialog-centered gap-2">
                      <%= render 'layouts/set_vava', vava: booking.user %>
                      <p class="card-text mt-0 p-0"><%= booking.user.username %></p>
                    </div>
                    <p class="card-text">Du <%= booking.start_date %> au <%= booking.end_date %></p>
                    <div class="d-flex justify-content-center p-2 gap-3" >
                      <%= button_to 'Accepter', accept_booking_path(booking), method: :patch, class: 'btn btn-success btn-sm rounded opacity-75', data: { action: 'click->sound#playsoundValidation' } %>
                      <%= button_to 'Refuser', reject_booking_path(booking), method: :patch, class: 'btn btn-danger btn-sm rounded opacity-75', data: { action: 'click->sound#playsoundYahaha' } %>
                    </div></li>
                <% end %>
              </ul>
            <% else %>
              <p class="card-text mb-2 text-muted"><i>Pas de demande en attente</i></p>
            <% end %>
          <hr>
          <div class="d-flex justify-content-between mt-3">
            <%= link_to 'Modifier', edit_offer_path(offer), class: 'btn btn-outline-secondary rounded-pill' %>
            <%= button_to 'Supprimer', offer_path(offer), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-outline-danger rounded-pill', data: { action: 'click->sound#playsoundYahaha' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p class="w-100"><%= link_to "Ajouter une nouvelle location", new_offer_path, class: "btn btn-primary btn-lg w-100 link-underline link-underline-opacity-0 mb-3 mt-2", data: { action: 'click->sound#playsoundGotit' } %></p>
</div>
