<img src="<%= offer.url_image %>" class="card-img-top" alt="<%= offer.name %>">
<div class="card-body" >
  <h2 class="card-title"><%= offer.name %></h2>
  <%= link_to 'Voir cette offre', offer_path(offer), class: 'btn btn-secondary' %>
  <p class="card-text"><%= offer.description.truncate(100) %></p>
</div>
