<div class= "container mt-4">
  <h1>Louez l’impossible, vivez l’extraordinaire.</h1>
  <div class="d-flex flex-wrap">
    <% if @offers.present? %>
      <% @offers.each do |offer| %>
        <div class="card m-3" style="width: 18rem;">
          <img src="<%= if offer.image.attached?
                          cl_image_path(offer.image.key)
                        elsif offer.url_image.nil?
                          'https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
                        else
                          offer.url_image.strip
                        end %>" alt="Offer Image" style="height: 200px; object-fit: cover; width: 100%;"/>
          <div class="card-body">
            <h5 class="card-title"><strong><%= offer.name %></strong></h5>
            <p class="card-text mb-2"><%= offer.description.truncate(100) %></p>
            <%= link_to 'Voir cette offre', offer_path(offer), class: 'btn btn-outline-info rounded-pill' %>
            <p class="card-text"><u>Hôte:</u> <%= offer.user.username%></p>
            <p class="card-text"><%= offer.price%> <i class="fa-solid fa-coins" style="color: #F4DB12;"></i></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No offers available.</p>
    <% end %>
  </div>
  <hr>
  <h2> Explore with our map.</h2>
  <br>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
