<div class="map" style="background-image: url('<%= cl_image_path @offer.image.key %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="offer-show-card">
        <h1><%= @offer.name %></h1>
        <p class="offer-show-address"><%= @offer.address %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="offer-show-card">
        <h5>Reservation</h5>
        <div data-controller="datepicker">
          <%= simple_form_for [@offer, @booking], data: {controller:'datepicker'} do |f| %>
            <%= f.input :start_date, data: {controller:'datepicker', datepicker_target: "start"}, placeholder: "select dates", as: :string %>
            <%= f.input :end_date, data: {controller:'datepicker', datepicker_target: "end"}, placeholder: "select dates", as: :string %>
            <%= f.submit "Book", class: "btn btn-primary", data: {controller:'datepicker', datepicker_target: "bookButton"}, disabled: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="row">
      <div class="col-8">
        <div class="offer-show-card">
          <h3>Un endroit de rêve...</h3>
          <p><%= @offer.description %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="offer-show-card">
          <h3>Prix</h3>
          <div class="flex ms-3">
            <p class="price"> <%= @offer.price %> € *</p>
            <br>
            <p class="little_text"><i>* le prix n'est pas imaginaire</i></p>
          </div>
        </div>
      </div>
    </div>
</div>
