<!DOCTYPE html>
<html>
  <head>
    <title>UnrealBnB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p>Navarbar contenant le logo, et 3 boutons: "my bookings", "my offers" "avatar" </p>
    <hr>
    <p>Search bar: </p>
    <hr>
    <%= yield %>
    <hr>
    <p>Je suis un footer</p>
  </body>
</html>
